.skills {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: center;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}
.header {
  text-align: center;
  display: flex;
  width: 140px;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  padding: 7px;
  border: 1px solid blue;
}
.skillcontainer {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.left {
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: left;
}
.right {
  display: flex;
  flex-direction: column;
  margin-left: 240px;
  text-align: left;
  width: 40%;
}
.left h6 {
  display: flex;
  text-align: center;
}
.right h6 {
  display: flex;
  text-align: center;
}
.item {
  margin-top: 10px;
}
.progress-line {
  height: 15px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 15px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
    0 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #6665ee;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.progress-line.html span {
  width: 90%;
}
.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100% {
    opacity: 1;
  }
}
.progress-line.html span::after {
  content: "90%";
}
.line {
  text-align: right; /* Right-align text */
  padding-top: 5px; /* Add top padding */
  padding-bottom: 5px; /* Add bottom padding */
  color: white; /* White text color */
  border-radius: 5px;
}
.bar .progress-line.html span {
  width: 90%;
}
@media (max-width: 768px) {
  .skillcontainer {
    display: flex;
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .right {
    margin-left: 0;
    width: 100%;
  }
}
